[Desktop Entry]

Name=About Kubuntu
Name[en_GB]=About Kubuntu


Icon=kword_kwd

X-DOC-Weight=-4000

DocPath=help:/khelpcenter/kubuntu/about-kubuntu/C/index.html
