[Desktop Entry]

Name=Kubuntu Quick Guide
Name[en_GB]=Kubuntu Quick Guide


Icon=contents

X-DOC-Weight=-4000

DocPath=help:/khelpcenter/kubuntu/kquickguide/C/index.html
