[Desktop Entry]

Name=Kubuntu Desktop Guide
Name[en_GB]=Kubuntu Desktop Guide


Icon=contents

X-DOC-Weight=-4000

DocPath=help:/kubuntu/desktopguide/
