[Desktop Entry]

Name=Kubuntu Release Notes

Name[en_GB]=Kubuntu Release Notes


Icon=kword_kwd

X-DOC-Weight=-5000

DocPath=help:/kubuntu/krelease-notes/
