[Desktop Entry]

Name=Ubuntu Packaging Guide
Name[en_GB]=Ubuntu Packaging Guide


Icon=contents

X-DOC-Weight=-4000

DocPath=help:/kubuntu/packagingguide/
