/*
 Original version created for the Ubuntu documentation team
  by Jeff Schering on Sept 2, 2005
	
 Original application is for the FAQ Guide, and features
 the Ubuntu colour scheme
 
 This file is in the Public Domain.
	
 */

body {
	font-family: sans-serif;
	color: black;
	background-color: white;
}

.titlepage {
  padding-left: 1em;
  padding-right: 1em;
}

div.toc {
  padding-left: 1em;
  padding-right: 1em;
}

div.toc dt { 
  margin-top: 2px; 
}

div.toc dt :visited { 
	color: black; /* Ubuntu visited link color */
}

div.qandaset dt :visited { 
	color: black; /* Ubuntu visited link color */
}

:link { 
	color: #6d4c07; /* dark brown */
}

:visited { 
	color: #6d4c07; /* dark brown */
}

dl { 
  margin-top: 0em; 
  margin-bottom: 0.5em; 
}

dt { 
  margin-top: 1em; 
}

div.qandaset {
	margin-left: 1em;
}

p {
	margin-bottom: 1em;
  text-align: left; 
}

.guimenu, .guimenuitem, .guisubmenu {
	font-style: italic;
	color: #6d4c07; /* dark brown */
}

.guilabel, .guibutton { 
}

.question { 
  font-weight: bold; 
}

/* accelerator keys in menus */
.accel { 
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 { 
	color: #6d4c07; /* dark brown */
}

.screen, .programlisting { 
	background-color:  #f0eee6; /* light salmon */
	border: 1pt solid #C1B496; /* dark tan */
  padding: 5px; 
} 



