[Desktop Entry]
Encoding=UTF-8
Name=About Edubuntu
Name[ar]=حول إدوبونتو
Name[ca]=Quant a l'Edubuntu
Name[cs]=O Edubuntu
Name[en_AU]=About Edubuntu
Name[en_GB]=About Edubuntu
Name[es]=Acerca de Edubuntu
Name[eu]=Edubuntu-ri buruz
Name[fi]=Tietoja Edubuntusta
Name[fr]=À propos d'Edubuntu
Name[hu]=Az Edubuntu névjegye
Name[id]=Tentang Edubuntu
Name[it]=Informazioni su Edubuntu
Name[ms]=Mengenai Edubuntu
Name[nds]=Über Edubuntu
Name[oc]=A prepaus d'Edubuntu
Name[pl]=O Edubuntu
Name[pt_BR]=Sobre o Edubuntu
Name[pt]=Sobre o Edubuntu
Name[ro]=Despre Edubuntu
Name[ru]=О Edubuntu
Name[sk]=O Edubuntu
Name[sv]=Om Edubuntu
Name[te]=ఎడుబుంటు గురించి
Name[th]=เกี่ยวกับ Edubuntu
Name[tr]=Edubuntu Hakkında
Name[zh_CN]=关于 Edubuntu
Name[zh_HK]=關於Edubuntu
Comment=Learn more about Edubuntu
Comment[ar]=تعلم المزيد عن إدوبونتو
Comment[ca]=Aprengueu més coses de l'Edubuntu
Comment[cs]=Zjistěte více o Edubuntu
Comment[en_AU]=Learn more about Edubuntu
Comment[en_GB]=Learn more about Edubuntu
Comment[es]=Aprenda más sobre Edubuntu
Comment[eu]=Edubuntu-ri buruzko gehiago ezagutu
Comment[fi]=Lisätietoja Edubuntusta
Comment[fr]=En savoir plus sur Edubuntu
Comment[hu]=Tudjon meg többet az Edubunturól
Comment[id]=Mempelajari lebih lanjut mengenai Edubuntu
Comment[it]=Maggiori informazioni su Edubuntu
Comment[ms]=Mengetahui lebih lanjut mengenai Edubuntu
Comment[nds]=Lerne mehr über Edubuntu
Comment[oc]=Ne saber mai sus Edubuntu
Comment[pl]=Dowiedz się więcej o Edubuntu
Comment[pt_BR]=Aprenda mais sobre o Edubuntu
Comment[pt]=Aprenda mais sobre o Edubuntu
Comment[ro]=Află mai multe despre Edubuntu
Comment[ru]=Узнайте больше о Edubuntu
Comment[sk]=Dozvedieť sa viac o Edubuntu
Comment[sv]=Lär dig mer om Edubuntu
Comment[te]=ఎడుబుంటు గురించి మరింత నేర్చుకోండి
Comment[th]=ข้อมูลเพพิ่มเติมเกียวกับ Edubuntu
Comment[tr]=Edubuntu hakkında daha fazlasını öğren
Comment[zh_CN]=了解更多关于 Edubuntu 的信息
Comment[zh_HK]=學習更多有關Edubuntu
Exec=yelp ghelp:about-edubuntu
Icon=distributor-logo
Terminal=false
Type=Application
Categories=GNOME;Application;Core;
StartupNotify=true
