/* by luzi */

body {
	background-color: #ececec;
	color: black;
	font-family: "Lucida Grande", Verdana, Lucida, Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.15em;
/* 	padding-left: 1em;  */
	margin: 0em; 

}

.xubuntu-header {
  margin:0em;
  background-color:#cdcdcd;
  width:100%;

}
.xubuntu-content {
/*   margin:0pt; */
  padding-left:1em;


}


:link { 
	color: #63657e; 
}

:visited { 
	color: #63657e; 
}

dl { 
	margin-top: 0em; 
	margin-bottom: 0.5em; 
}

dt { 
  margin-top: 1em; 
}

p {
	margin-bottom: 1em;
	text-align: left; 
}


h1, h2, h3, h4, h5, h6 { 
        color: #3a3a47; 
}



